navbar

.container
  .row
    ul.breadcrumb
      li
        a(href='/') Dashboard 
    .col-lg-12
      h1 Home Page
      span.glyphicon.glyphicon-search(aria-hidden='true')
      table.table.table-striped
        thead
          tr
            th Name 
            th ID
            th Status 
        tbody
          tr
            td THING 
            td 
              a(href="#") 9823 
            td ACTIVE 
          tr
            td THING 
            td 
              a(href="#") 8283 
            td REVIEW 
          tr
            td THING 
            td 
              a(href="#") 2298392
            td REVIEW

footer
